.recipetitle {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.form {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.time {
  width: 50%;
  height: 50px;
}

.form img {
  height: 30px;
  width: 30px;
}

.buttoninpopup {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px 10px;
}

.searchbutton {
  width: 200px;
  height: 40px;
  background-color: rgb(130, 202, 53);
  border-radius: 10px;
  border:0 ;
  font-size: 24px;
  color: white;
}

.ia {
  width: 80%;
  margin:0 auto 50px auto;
}
/* 食材搜尋區域 */

.ingredient {
  width: 30%;
  height: 60px;
  margin:10px;
  justify-content: center; 
  align-items: center; 
}

.ingredient img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

@media screen and (max-width:756px) {
    .recipetitle {
    text-align: center;
    font-size: 30px;
    margin: 0px 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    }

    .ia {
    width: 70%;
    height: auto;
    margin: 0 15% 50px 15%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    }

    .time {
      width: 75%;
      height: 36px;
    }

    .ingredient {
        width: 90%;
        height: 40px;
    }

    .ingredient img {
      height: 25px;
      width: 25px;
      margin-right: 10px;
    }

}

