.page {
    background-color: #eff0ea;
    position: relative;
}
.container {
    max-width: 1320px;
    margin: auto;
    background-color: #fafafa;
    padding: 50px 20px;
}
.hash_tag {
    margin: 0 auto 50px;
}
.card {
    margin: 0 auto 50px;
}

.pagination {
    display: flex;
    justify-content: center;
}
.slick {
    margin: 10px;
}
.sidebar {
    position: sticky;
    top: 50px;
    /* flex-grow: 1; */
}
/* .row {
    flex-wrap: wrap;
}
.main {
    flex-grow: 999;
} */


.comparebtn{
     width: 50px;
     height: 50px;
     background-color: #5887C3;
     color: #fff;
     position: fixed;
     left: 0;
     bottom: 100px;
     padding: 10px;
     border-radius: 2px;
     align-items: center;
     display:flex;
     justify-content: center;
     z-index: 10;
}

.ad_wrap {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin-top: 200px;
}

.ad_hidden{
    transform: translateX(-300px);
    transition: all 1s ease-out ;
}

.ad_move{
    transform: translateX(0);
}