.container {
  max-width: 1000px;
  margin: auto;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #3a2c2c;
  padding: 30px;
}
.wrap {
  width: 90%;
  margin: auto;
  background-color: #ffffff;

  margin: auto;
}
