
.searching {
    background-image:url("./../../../public/imgs/imgs1.jpg") ;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 800px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.titleword{
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.subtitleword{
    font-size: 16px;
}

.searchinput {
    font-size: 28px;
}

.recommend {
    width: 70%;
    /* height: auto; */
    height: 250px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    outline: 1px black solid;
}

.recommendlist{
    width: 48%;
    /* height: auto; */
    height: 200px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: center;
    display: flex;
    outline: 1px black solid;

}

@media screen and (min-width:500px) {
    .recommend {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    position: relative;
    }


    .recommendlist {
        width: 90%;
        height: 200px;
        justify-content: center;
        position: relative;
    }
    /* RWD */
}

.recommendlist img{
    height: 100%;
    width: 50%;
    /* position: absolute;
    top: 0px;
    left:0px; */
}

.recipeinfo{
    width: 50%;
    font-size: 18px;
}



/* https://hff2.github.io/react/20211015/3955701539/ */
/* https://www.websiterating.com/zh-TW/resources/html-css-php-cheat-sheet/#complete-css-cheat-sheet */
