.CommentCard {
    /* width: 600px; */
    background-color: rgb(247, 247, 247);
    border-radius: 2%;
}

.CommentCard_imgwrap {
    background-color: rgb(207, 191, 191);
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
}

.CommentCard_imgwrap img {
    object-fit: cover;
    /* color: red; */
}



