.news_card {
    width: 400px;
    /* max-height: 600px; */
    background-color: #fff;

}

.news_card img {
    width: 100%;
}

.news_card:hover {
    opacity: 0.8;
}

.news_arrow_btn {
    margin-left: auto;
    width: 100px;
    margin-right: 50px;
}




