.boc-objft{
    object-fit: cover;
}
.boc-lineheight{
    line-height: 1.1rem;
}
.boc-multiline-ellipsis { 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.boc-switchpx{
    padding: 0 10%;
}