.starRating_btn {
    background-color: #333;
    color: white;
    width: 180px;
    text-align: center;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
}

.starRating_btn:hover {
    background-color: #82CA35;
    /* border: 1px solid #333; */
    color: #333;
    color: #ffffff;
}



.CommentSearch_area input{
    width: 300px;
    border-radius: 5% 0 0 5%;
    border: 1px solid rgb(181, 181, 181);
    padding: 5px 0;
    
}

.CommentSearch_area button {
    background-color: #82CA35;
    color: #ffffff;
     border: 1px solid rgb(181, 181, 181);
     width: 100px;
     border-radius: 0 5% 5% 0;
     letter-spacing: 5px;
}

.CommentHotSearch p {
    letter-spacing: 2px;
    /* background-color: rgb(55, 55, 55); */
    /* border-radius: 50% 50% 50% 50%; */
    /* color: white; */
}


.CommentTimeSearch {
    width: 300px;
}



/* ------------------------------------------ */
/* -------------以下YT教學------------------- */

/* Message Scroll */
.buttomBar {
    display: flex;
    width: 100%;
    margin: 20px 0;
    justify-content: center;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgb(230, 230, 230);
    border-top: 5px solid black;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}