
.coupon:hover{
    transform:translate(-20px, -10px) scale(1);
    /* transition: width 2s, height 4s; */
}

.couponobjfit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.po_couponCss {
    position: relative;
    background-image: 
      radial-gradient(circle at 1px 8px, transparent 6px, #ff9e6d 6px, #EFF0EA 0px), 
      radial-gradient(circle at 280px 8px, transparent 220px, #ff9e6d 6px, #EFF0EA 0px);
    background-size: 427px 21px;
    background-position: 0 0, 367px 0;
    background-repeat-x: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
}

